/*
Logan Bales
Student Website
style.css
*/

/* Header*/
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/* Navigation background */
ul{
    margin: 0;
    padding: 10;
    
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color:grey;
    justify-content: center;
    

}

/* Link list */
ul li{
    float:left;
    display: block;
    padding: 10px 10px;
    
    
}


/* Link text */
a{
    color:white;
    font-family:arial;
}

body.dark{
    background-color:black;
    color:white;

}

/* Page title */
#subject{
    margin-left: 400;
    font-size:30px;
    margin-bottom: 50px;
}



#description{
    display:flex;
    padding-left: 450;
    padding-right: 450;
    font-family:arial;
}


/* Extra description text if needed */
#extra{
    display:flex;
    padding-left: 450;
    padding-right: 450;
    padding-top:25;
    font-family: arial;
}

/* Images and video */

#me{
    margin-left: 600;
    margin-top: 50;
    border-radius: 8px;
}

#tb{
    margin-top:50;
    margin-left:400;
}

#nfp{
    margin-left:125;
    margin-top:20;
    height:424;
    width:283;
}

#cs{
    margin-left:575;
    margin-top:20;
    border-radius:8px;
}

#sport{
    margin-left: 575;
    margin-top:20;
}

video{
    display: flex;
    padding-left: 575;
    padding-top:25;
}

#yellow{
    padding-left: 600;
    padding-top:125;
}

/* Mobile Browser reformatting*/
@media screen and (max-width: 500px){
    ul li{
        padding:5px 5px;
    }

    #subject{
        margin-left:125;
        font-size:20px;
        margin-bottom: 40px;
    }

    #description{
        display:flex;
        padding-left: 150;
        padding-right: 150;
        font-family:arial;
    }

    #extra{
        display:flex;
        padding-left: 150;
        padding-right: 150;
        padding-top:25;
        font-family: arial;
    }   

    #me{
        margin-left: 150;
        margin-top: 25;
        border-radius: 8px;
    }

    #tb{
        margin-top:25;
        margin-left:65;
        width: 349;
        height: 219;
    }

    #nfp{
        margin-left:75;
        margin-top:20;
    }

    #cs{
        margin-left:100;
        margin-top:20;
        border-radius:8px;
    }

    #sport{
        margin-left: 100;
        margin-top:20;
    }

    video{
        display: flex;
        padding-left: 125;
        padding-top:25;
        height:286;
        width:215;

    }

    #yellow{
        padding-left: 125;
        padding-top:75;
    }
}

audio{
    padding-top: 5px;
    padding-left: 5px;
    width: 100px;
    height: 15px;
}

footer{
    position:fixed;
    background-color:rgba(128, 128, 128, 0.7);
    left:0;
    bottom:0;
    justify-content: center;
    flex-direction: row;
    color:white;
    width:100%;
}
